#content {
    min-height:500px;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.gray {
    color: gray;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.orange {
    color: orange;
}
.pink {
    color: pink;
}
.greenyellow {
    color: greenyellow;
}
.black {
    color: black;
}

.spText {
    font-weight:bolder;
    font-size:30px;
    color:#0094ff;
}