<?xml version="1.0"?>
<configuration>
  <addition name="京东" url="http://www.jingdong.com">综合商城</addition>
  <addition name="淘宝" url="http://www.taobao.com">卖家入驻</addition>
  <addition name="新蛋" url="http://www.newegg.com">3c数码</addition>
  <addition name="一号店" url="http://www.yhd.com/">超市用品</addition>
  <addition name="美丽说" url="http://www.meilishuo.com">女性用品</addition>
</configuration>
